@import "./../../styles/colors";
@import "./../../styles/mixins";

.todo {
  position: relative;
  @include flexRow(space-between, center);
  width: 100%;
  min-height: 87px;
  padding: 16px;
  border-radius: 24px;
  background: getColor("white");

  &__content {
    @include flexColumn(flex-start, flex-start);
    gap: 10px;
    width: 290px;
    height: 100%;
  }

  &__status {
    @include flexRow(flex-start, center);
    gap: 6px;
    height: 24px;
    padding: 4px 16px 4px 10px;
    border-radius: 8px;
    background: getColor("orange");
    cursor: default;

    &_title {
      font-size: 14px;
      font-weight: 300;
      color: getColor("white");
    }

    img {
      width: 10px;
      height: 10px;
    }
  }

  .completed {
    background: getColor("green");
  }

  &__button {
    min-width: 155px;
    min-height: 37px;
    padding: 8px 24px;
    border-radius: 8px;
    background: getColor("azure");
    border: none;
    cursor: pointer;

    &_title {
      color: getColor("white");
    }
  }

  &__delete {
    position: absolute;
    display: none;
    top: -15px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: getColor("bubbles");
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }

  &:hover .show-delete {
    @include flexRow(center, center);
  }

  &:nth-child(1) {
    margin-top: 15px;
  }

}

.disabled {
  background: getColor("silver");
  cursor: not-allowed;
}