@import "./../../styles/colors";
@import "./../../styles/mixins";

.user-item {
  @include flexRow(flex-start, center);
  gap: 20px;
  width: 100%;
  min-height: 58px;

  &:hover {
    cursor: pointer;
  }

  &__title {
    width: 60%;
    padding-left: 16px;
    color: getColor("black");
    overflow: hidden;
  }

  &__rate {
    width: 40%;
  }

  &:nth-child(even) {
    background: getColor("alice-blue");
  }
}

.current-user p{
  color: getColor("azure");
  font-weight: 700;
}